// :host{

// }

.container{
    width: fit-content;
    // padding: 1rem 1.5rem;
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    .row{
        display:flex;
        &:not(:last-child){
            margin-bottom: 0.5rem;
        }
    }
    .label{
        display: flex;
        justify-content: center;
    }
}

.action{
    // padding: 0.5rem;
}

.display{
    min-width: 6rem;
    // margin: 0 2rem; 
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 300;
}
