<div class="content card">
    <div class="preview card">
        <div id="canvas">
        </div>
    </div>
    <!-- <div class="actions">
        <button (click)="changeRingGroup('A')" class="action">A</button>
        <button (click)="changeRingGroup('B')" class="action">B</button>
        <button (click)="changeRingGroup('C')" class="action">C</button>
        <button (click)="changeRingGroup('D')" class="action">D</button>
        <button (click)="changeRingGroup('E')" class="action">E</button>
        <button (click)="resetRingGroup()" class="action">R</button>
    </div> -->
</div>

