<div class="section">
    <div class="column">
        <app-point-selector
            (pointSelected)="originSelected($event)"
            [padding]="padding"
        ></app-point-selector>
    </div>
    <div class="column center">
        <app-input label="Origin:" class="origin">
            <div class="title">({{origin?.x}}, {{origin?.y}})</div>
        </app-input>
    </div>
</div>

<div class="section">
    <div class="column">
        <app-range-toggle
            (update)="radiusSelected($event)"
            [initialValues]="[radii[0]]"
            [label]="'Radius:'"
            [range]="radii"
            [multiToggle]="false"
            [showSummary]="false"
        ></app-range-toggle>
    </div>
</div>

<div class="section">
    <div class="column">
        <app-range-toggle
            (update)="verticesSelected($event)"
            [initialValues]="[verticeOptions[0]]"
            [label]="'Vertices:'"
            [range]="verticeOptions"
            [multiToggle]="false"
            [showSummary]="false"
        ></app-range-toggle>
        <app-range-toggle
            (update)="rotationSelected($event)"
            [initialValues]="[rotationOptions[0]]"
            [label]="'Rotation:'"
            [range]="rotationOptions"
            [multiToggle]="false"
            [showSummary]="false"
        ></app-range-toggle>
    </div>
</div>

<div class="section">
    <div (click)="createCircle()"
        class="action card button">
        Create Circle
    </div>
</div>