<div class="container">
    <div class="row">
        <div (click)="selectCell(Option.TL)" class="cell card button noselect">{{Option.TL}}</div>
        <div (click)="selectCell(Option.TC)" class="cell card button noselect">{{Option.TC}}</div>
        <div (click)="selectCell(Option.TR)" class="cell card button noselect">{{Option.TR}}</div>
    </div>
    <div class="row">
        <div (click)="selectCell(Option.L)" class="cell card button noselect">{{Option.L}}</div>
        <div (click)="selectCell(Option.C)" class="cell card button noselect">{{Option.C}}</div>
        <div (click)="selectCell(Option.R)" class="cell card button noselect">{{Option.R}}</div>
    </div>
    <div class="row">
        <div (click)="selectCell(Option.BL)" class="cell card button noselect">{{Option.BL}}</div>
        <div (click)="selectCell(Option.BC)" class="cell card button noselect">{{Option.BC}}</div>
        <div (click)="selectCell(Option.BR)" class="cell card button noselect">{{Option.BR}}</div>
    </div>
    <div class="row">
        <div (click)="selectCell(Option.Rand)" class="cell card button noselect">{{Option.Rand}}</div>
    </div>
</div>
